<nav class="navbar navbar-expand-lg navbar-light bg-white">
<div class="container-fluid">
  <a class="navbar-brand" href="/">
    <img src="https://i.ibb.co/518d475/gardenlogo.png" class="navbar-brand-img" alt="logo">
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fe fe-x"></i>
    </button>

    <ul class="navbar-nav ms-auto">
            {% set links = [
                {'title': 'Accueil', 'path': 'home'},
                {'title': 'Fiches Cultures', 'path': 'culture_index'},
                {'title': 'Agenda', 'path': 'calendar_index'},
            ] %}
            {% for link in links %}
                <li class="nav-item mx-3">
                    <a class="nav-link text-decoration-none hover btn-outline-white rounded {{ app.request.pathinfo == path(link.path) ? 'active' }}"
                            {{ app.request.pathinfo == path(link.path) ? 'aria-current="page"' }} href="{{ path(link.path) }}">
                        {{ link.title }}
                    </a>
                </li>
            {% endfor %}
            
    <a class="navbar-btn btn btn-sm btn-primary lift ms-auto" href="{{ path('app_login') }}" target="_blank"> 
      Connexion
    </a>

  </div>

</div>
</nav>