{% extends 'base.html.twig' %}

{% block title %}CultureCategory index{% endblock %}

{% block body %}
    <h1>CultureCategory index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for culture_category in culture_categories %}
            <tr>
                <td>{{ culture_category.id }}</td>
                <td>{{ culture_category.name }}</td>
                <td>
                    <a href="{{ path('admin_culture_category_show', {'id': culture_category.id}) }}">show</a>
                    <a href="{{ path('admin_culture_category_edit', {'id': culture_category.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_culture_category_new') }}">Create new</a>
{% endblock %}
